/* ESTILO GERAL */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}



.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:chartreuse; 
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: aliceblue;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: chartreuse;
}

button:hover{
    box-shadow: 0px 0px 8px #green;
    transform:scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40PX 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{

color: #7d7d7d;
text-decoration: none;
display: inline-block;
transition: .2s;

}

header a:hover{
    color: aliceblue;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

.topo-do-site h1{
    color: aliceblue;
    
}

.topo-do-site .txt-topo-site p{
    color: aliceblue;
    margin: 40px 0;
}

/* ESTILO DAS ESPECIALIDADES */
section.Especialidades{
    padding: 40px 4%;
}

section.Especialidades .flex{
    gap: 60px;
}

.Especialidades .Especialidades-box{
    color: aliceblue;
    padding: 40px;
    border-radius: 20px;
    
    margin-top: 45px;
    transition: .2s;

}

.Especialidades .Especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff7c;
}

.Especialidades .Especialidades-box i{
     font-size: 70px;
     color: chartreuse;
}

.Especialidades .Especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 40px 4%;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: aliceblue;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: chartreuse;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: chartreuse;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

